In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
s.quantile(.5)

2.5

In [4]:
s.quantile(.1)

1.3

In [5]:
t = pd.Series([np.nan, np.nan, np.nan, np.nan])
t

0   NaN
1   NaN
2   NaN
3   NaN
dtype: float64

In [6]:
t.quantile(.5)

nan

In [7]:
u = pd.Series([1, 2, np.nan, 4])
u

0    1.0
1    2.0
2    NaN
3    4.0
dtype: float64

In [8]:
u.quantile(.5)

2.0

In [9]:
v = pd.Series([np.nan, np.nan, np.nan, np.nan], dtype=object)
v

0    NaN
1    NaN
2    NaN
3    NaN
dtype: object

In [10]:
v.quantile(.1)

nan

In [11]:
np.nan

nan

In [12]:
for x in v:
    print(x, np.isnan(x))

nan True
nan True
nan True
nan True

In [13]:
all(map(np.isnan, v))

True

In [14]:
all(map(np.isnan, t))

True

In [15]:
all(map(np.isnan, u))

False

In [16]:
u[0], u[2]

(1.0, nan)

In [17]:
all([])

True

In [18]:
any([])

False

In [19]:
v

0    NaN
1    NaN
2    NaN
3    NaN
dtype: object

In [20]:
[name for name in dir(v) if 'nan' in name.lower()]

['hasnans']

In [21]:
s.hasnans, t.hasnans, u.hasnans, v.hasnans

(False, True, True, True)